@media (max-width: 1360px) {
  .catalog__cards {
    grid-template-columns: 1fr 1fr;
    padding: 50px 50px;
  }
}
@media (max-width: 1140px) {
  .container {
    padding: 0px 20px;
  }

  .up-btn {
    left: -50px;
  }

  .features__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .features__description {
    padding-bottom: 50px;
  }

  .slick-next {
    top: 105%;
    right: -25px;
  }

  .slick-prev {
    top: 105%;
    left: 20px;
  }
}
@media (max-width: 800px) {
  .header__nav {
    display: none;
    position: relative;
  }

  .header__menu {
    width: 100%;
    height: 330px;
    position: fixed;
    top: 0px;
    padding-top: 80px;
    left: 0;
    z-index: 98;
    background-color: #fff;
    text-align: center;
  }

  .header__menu li {
    display: block;
    padding-right: 0px;
  }

  .header__menu li:not(:last-child) {
    padding-right: 0px;
  }

  .header__link:hover {
    cursor: pointer;
    border: none;
    background-color: #FAFAFA;
  }

  .header__logo {
    flex-basis: 50%;
    width: 100%;
    height: 80px;
    position: relative;
  }

  .header__logo img {
    position: absolute;
    right: 0;
  }

  .header__contacts {
    text-align: right;
  }

  .mobile-menu {
    display: block;
  }

  .header__mobile-close {
    display: block;
  }

  .catalog__cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 50px 0px;
  }

  .card__image img {
    max-width: 300px;
  }
}
@media (max-width: 700px) {
  .features__slider-inner {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 625px) {
  .mobile-phone, .mobile-email {
    display: inline-block;
  }

  .mobile-email {
    margin-right: 10px;
  }

  .header__contacts p {
    display: none;
  }

  .header__logo {
    flex-basis: 80%;
  }

  .catalog__cards {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .card__image img {
    max-width: 350px;
  }
}
@media (max-width: 414px) {
  .header__logo {
    display: none;
  }

  .header__inner {
    height: 80px;
  }

  .header__contacts {
    flex-basis: 100%;
  }

  .slider__image {
    max-width: 100%;
    height: 300px;
  }

  .feedback__form {
    padding: 20px 0px;
  }

  .contacts__img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 375px) {
  .card__image img {
    max-width: 300px;
  }

  .catalog .container {
    padding: 0px;
  }
}
@media (max-width: 280px) {
  .container {
    padding: 0px 0px;
  }

  body {
    font-size: 14px;
  }

  img {
    max-width: 280px;
  }
}